<body style="background-color: rgb(85, 153, 131);">

<h2 style="color: green;"><center> Employee Found </center></h2>


{% for item in data %}

<center>
<table style="width:100%">
<tr>
    <td>Employee Name : {{item[0]}}</td>
    <td>Employee Number : {{item[1]}}</td>
    <td>Employee password : {{item[2]}}</td>
    <td>Employee Email : {{item[3]}}</td>
   

</tr>
</table>
</center>
{% endfor %}

<style>
    table, th, td {
      border:1px solid black;
    }
    .feedback {
    background-color : #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
  
    .mybutton {
    position: fixed;
    bottom: 1px;
    right: 50px;
  }
</style>

<form >
    <input class="feedback" type="button" value="Go back!" onclick="history.back()">
</form>

</body>